#box-upcoming img {
	float: left;
	margin-right: 8px;
}
.dropdown {
	float: right;
    position: relative;
    top: -25px;
}
.btn {
	background-color: transparent;
	border-color: transparent;
}
.open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}
.open>.dropdown-toggle.btn-default {
    /* color: #333; */
    background-color: transparent;
    border-color: transparent;
}
.dropdown-menu {
	height:425px;
	width:220px;
}


btn-default {
	color"#333;
	border-color: transparent;
}
header {
	margin-bottom:85px;
	}
.container {
	width:980px;
}
.box-upcoming-article {
	margin-bottom: 20px;
	
}
a{	
	color:black;
	text-decoration: none;
}
#slider {
		
		margin-bottom:35px;
}
.carousel {
	left: -15px;
    position: relative;
    width: 980px;
}


body {
	padding-top:30px;
	padding-bottom:30px;
	
	}
.navbar{ 
	
	margin-left:auto;
	margin-right:auto;
	width:980px;
	padding-top:30px;		
	font-size: 18px;
}
p {
    margin: 0px 5px 0px;
}
.text-uppercase{
	text-transform:lowercase;
}
.expiration {
	margin-bottom:-7px;
}
.badge-exp {
	margin-top:-90px;
    float: right;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #fe508f;
	border-radius:0px;
}
.badge {
    float: right;
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #fe508f;
	border-radius:0px;
}
ul{
	float: left;
    padding-top: 35px;
	 display: flex;
	list-style:none;
}

li {
	margin-right:30px;
}
#trans-modal {
	background: rgba(0, 0, 0, 0.3);
	margin-left: auto;
	margin-right: auto;
	top:50px;
	font-size: 20px;
	color: blue;
	width: 800px;
	height:550px;
	display: none;
}
#site-policy {
	float: left;
	margin-top: -20px;
	font-size:12px;
	margin-right:20px;
}

#signup {
	top:0px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	
	display:none;
}

#signin {
	display: none;
}
.carousel-caption {
    text-color:solid white;
    margin-right: auto;
    width: 460px;
    padding-bottom: 30px;
    height: 210px;
    background-color: #333333;
    margin-left: auto;
    opacity: 0.5;
}
#box-wrap{
	width:100%;
	height:100%;
	background-color: #333333;
	opacity:0.5;
}
.item-box {
	position: relative;
}

.item-box a {
	text-decoration: none;
	color: black;
	
}

.item-box-description {
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	bottom: 0;
	left: 15px;
    width: 309px;
	height:20%;
}
.exp-box-description {
	background: rgba(255, 255, 255, 0.5);
	position: absolute;
	bottom: 0;
	left: 15px;
    width: 224px;
}
.item-box {
	margin-bottom:35px;
}
.up-par {
	    word-wrap: break-word;
}
footer {
	width: 980px;
    background: #eeeeee;
    margin-left: -15px;
}
.bot-cnt {
	    float: left;
    padding-top: 35px;
    display: block;
    list-style: none;
}
form {
	width:30%;
	margin-top:20px;
}
.btn-form {
	border:1px black;
	color:white;
	background-color:black;
	padding-top:5px;
	padding-bottom:5px;
    margin-top: 15px;
    width: 115px;
}